.wrapper {
  max-height: 700px;
  display: grid;
  grid-template-columns: 60% 40%;
  max-width: 1140px;
  /* gap:15px; */
  padding: 20px;
}

.imgDesctop {
  max-width: 100%;
}

.imgMobile {
  display: none;
  max-width: 40%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.title {
  font-size: 30px;
  max-width: 420px;
  text-align: center;
  margin-top: 0px;
}

.titleDescription {
  font-size: 20px;
}

@media (max-width: 960px) {
  .wrapper {
    grid-template-columns: 100%;
  }

  .content {
    gap: 2px;
  }
  .imgDesctop {
    max-width: 100%;
    display: none;
  }

  .imgMobile {
    display: block;
  }

  .title {
    margin: 0px;
    font-size: 20px;
  }
  .titleDescription {
    font-size: 15px;
  }
}
